---

---
<main>
    <div class="image1">
        <img src="https://img.freepik.com/free-vector/payment-information-concept-illustration_114360-2886.jpg" alt="image1">
    </div>
    <div class="content">
        <p>"We are one of the leading provider of business payment solutions,
             revolutionizing how companies send and receive payments.
              With secure and efficient payment processing, advanced fraud protection, 
              and seamless integrations, 
              XYZ FinTech empowers businesses to streamline their financial operations and accelerate growth."</p>
    </div>
    
</main>
<style>
    main{
       display:flex;
        height:100vh;
        align-items:center;
        justify-content: center;
    }
    .image1{
        flex:1;
        max-width:50%;
        /* background-image: url('https://img.freepik.com/free-vector/payment-information-concept-illustration_114360-2886.jpg'); */
    }
    .content{
        flex:1;
    }
    .content p{
        width:50%;
        text-align: right;
    } 
</style>